// Imports

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&family=Inter:wght@100..900&display=swap');
@import '../fonts/ultrasolar.scss';

// Constants

$breakpoint-s: 400px;
$breakpoint-m: 800px;
$breakpoint-l: 1200px;
$breakpoint-xl: 1600px;

$transition-speed: 0.15s;
$transition-speed-slow: calc($transition-speed * 2);
$transition: $transition-speed ease-in-out;
$transition-slow: $transition-speed-slow ease-in-out;

// Mixins

@mixin focus-outline {
    outline: 1px dashed transparent;
    outline-offset: 2px;
    transition: $transition;
    transition-property: outline-color;

    &:focus-visible {
        outline-color: currentColor;
    }
}
