@import './normalize.scss';

@import './constants.scss';
@import './variables.scss';

* {
    box-sizing: border-box;
    line-height: 1;
}

body {
    background-color: #050505;
    color: #ffffff;
    font-family:
        'Inter',
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol';
    min-height: 100vh;
}

header,
main {
    margin: 0 auto;
    width: 100%;
}

main {
    padding: 15rem 0 10rem 0;
}

a,
button {
    color: inherit;
}

a {
    @include focus-outline;

    text-decoration: none;
}

button {
    background: none;
    border: none;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 1;
    margin: 0;
}
