@import '@styles/constants.scss';

.section {
    margin: 0 0 10rem 0;

    .joseph {
        grid-column: 1 / -1;

        @media (min-width: $breakpoint-m) {
            grid-column: 1 / 13;
            grid-row: 1 / 3;
        }

        @media (min-width: $breakpoint-l) {
            grid-column: 3 / 13;
        }

        @media (min-width: $breakpoint-xl) {
            grid-column: 4 / 13;
        }
    }

    .collicoat {
        grid-column: 1 / -1;

        @media (min-width: $breakpoint-m) {
            grid-column: 13 / -1;
            grid-row: 2 / 5;
        }

        @media (min-width: $breakpoint-l) {
            grid-column: 13 / -3;
        }

        @media (min-width: $breakpoint-xl) {
            grid-column: 13 / -4;
        }
    }

    .intro {
        grid-column: 1 / -1;
        margin-top: var(--padding-l);
        max-width: 30rem;

        @media (min-width: 400px) {
            grid-column: 2 / -2;
        }

        @media (min-width: 800px) {
            grid-column: 1 / 11;
            grid-row: 3 / 3;
        }

        @media (min-width: 1200px) {
            grid-column: 3 / 9;
        }

        @media (min-width: 1600px) {
            grid-column: 4 / 10;
        }

        h1 {
            font-weight: 600;
            letter-spacing: -0.05em;
            margin-bottom: 1em;
        }

        p {
            line-height: 1.25;
        }

        .cta {
            align-items: center;
            cursor: pointer;
            display: flex;
            margin-top: var(--padding-s);
            opacity: 0.5;
            transition: $transition opacity;

            &:hover {
                opacity: 1;
            }

            .icon {
                height: 1.5rem;
                margin-right: 0.5rem;
                width: 1.5rem;
            }
        }
    }
}
